src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="58b418ce-b747-45bf-9b44-b2877c5a92a1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mainFlow" doc:id="d0a0e0bf-829a-4789-b60f-f520392aa96d" >
		<http:listener doc:name="Listener" doc:id="451cdc59-e033-4a48-b62c-65fff64b661c" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["It worked!"]' doc:name="Set Payload" doc:id="ca0e8602-4325-4aa1-8ec1-1a7ac3937d76" />
		<logger level="INFO" doc:name="Logger" doc:id="5e5e48d8-adfe-49b1-8965-bfd96cdfd414" message="#[payload]"/>
	</flow>
</mule>
